@import url("https://fonts.googleapis.com/css2?family=Barriecito&display=swap");
.slider-wrapper {
  /* background-color: blue; */
  margin: 0 auto;
  width: 80%;

  /* background-color: red; */
  display: flex;
  flex-direction: column;
}
.carousel-container-header {
  color: black;
  margin-bottom: 40px;
}
.carousel-container-header :nth-child(2) {
  font-size: 40px;
  font-family: "Abril Fatface", cursive;
  text-align: center;
}
.carousel-container-header :nth-child(1) {
  font-size: 20px;
  text-align: center;
  font-family: "Abril Fatface", cursive;
}
.slick-next:before,
.slick-prev:before {
  color: #023610;
  font-size: 30px;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  color: #023610;
}
