@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.contact-container {
  /* background-color: black; */

  margin: 50px 0px;
  color: white;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container-header {
  color: black;
  margin-bottom: 40px;
}
.contact-container-header :nth-child(2) {
  font-size: 40px;
  font-family: "Abril Fatface", cursive;
  text-align: center;
}
.contact-container-header :nth-child(1) {
  font-size: 20px;
  text-align: center;
  font-family: "Abril Fatface", cursive;
}

.contact-container-content {
  width: 70%;
  padding: 20px;
  border: 1px solid white;
  position: relative;
}
.contact-container-wrapper {
  height: 100%;
  display: flex;
}
.contact-container-icons {
  width: 50%;
  height: 100%;
}

.icon-wrapper {
  display: flex;
  padding: 8px;
  margin-bottom: 8px;
  align-items: center;
  color: black;
}

.icon-circle {
  border: 1px solid black;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
}
.icon-circle :nth-child(1) {
  color: black;
}
.contact-container-inputfields {
  width: 50%;
  height: 100%;
  padding: 0px 0px 0px 20px;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
}
.input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.formLabel {
  position: absolute;
  color: rgb(3, 3, 3);
  background-color: white;
  top: -10px;
  left: 25px;
}
.form-wrapper-icon {
  position: absolute;
  right: 10px;
  top: 15px;
  color: black;
}
.form-wrapper textarea,
.form-wrapper input {
  padding: 15px 15px 15px 25px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid black;
}
.location-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
}

.swap-icon {
  cursor: pointer;
  color: black;
  transition: 0.6s;
}
.swap-icon:hover {
  scale: 1.2;
  transition: 0.6s;
}
.form-btn {
  width: 98px;
  height: 40px;
  cursor: pointer;
  border-radius: 20px;
  background-color: white;
  border: 1px solid black;
  transition: 0.5s;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.input-wrapper input {
  background-color: white;
}
.form-btn:hover {
  transition: 0.5s;
  color: white;
  background-color: #023610;
}
.contact-socialMedia-icons-wrapper {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
}
.contact-socialMedia-icons-wrapper :nth-child(1) {
  margin-right: 10px;
}
.contact-socialMedia-icons {
  font-size: 20px;
}
