.footer-section {
  /* background: linear-gradient(rgb(255, 255, 255), #023610); */
  color: #023610;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  transform: scale(0.8);
}

.footer-section .footer-section-icons {
  font-size: 24px;
  display: flex;
}
.footer-section
  .footer-section-icons
  .footer-section-icon-wrapper:nth-child(1) {
  margin-right: 5px;
}
.footer-section p {
  margin-top: 15px;
}

.footer-section-icon-wrapper {
  cursor: pointer;
  color: #023610;
  height: 40px;
  width: 40px;

  border: 1px solid#023610;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
