@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
.projects-section {
  width: 80%;
  margin: 50px auto;
  /* background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(2, 54, 37, 1) 100%
  ); */
}

.projects-section-header :nth-child(2) {
  font-size: 40px;
  font-family: "Abril Fatface", cursive;
  text-align: center;
}
.projects-section-header :nth-child(1) {
  font-size: 20px;
  text-align: center;
  font-family: "Abril Fatface", cursive;
}
.projects-section-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
